{% extends "base.html" %}
{% import "bootstrap4/form.html" as wtf %}
{% block content %}

<div class="container">
    <div class="vh-80 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <i class="fa-regular fa-circle-xmark mb-3" style="font-size: 96px; color: rgb(191, 2, 2);"></i>
            <h1>Error</h1>
            <p>An internal database error occured! Please try again later!</p>
            <p>{{ error }}</p>
        </div>
    </div>
</div>

{% endblock %}