{% extends 'base.html' %}

{% block header %}
{% with messages = get_flashed_messages() %}
{% if messages %} <!-- check if there are any messages -->
<div class="container-fluid">
  <div class="row mt-3 mb-3">
    <div class="col-md-12">
      {% for message in messages %} <!--loop through the messages-->
      <div class="alert alert-info">{{ message }}</div> <!--display as alert-->
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endwith %}

<!-- Jumbotron -->
<section class="section-large bg-image text-center" id="hero">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text">
        <h1 class="mb-3" style="font-size:52px">Find the music event for you</h1>
        <form class="form-inline d-flex flex-nowrap rounded-pill bg-white" action="{{ url_for('main.search') }}">
          <div class="ml-4 mr-2 d-flex w-100 py-2">
            <input type="text" name="search" placeholder="Search upcoming events"
              class="flex-grow-1 my-1 mr-sm-2 rounded-pill-left home-search" id="SearchForm">
            <button type="submit" class="home-search-btn rounded-pill text-center p-2"><i
                class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section class="section-small py-5">
  <div class="container">
    <div class="row flex-row gx-5 d-flex align-items-center">
      <div class="col-md-4">
        <img class="img img-fluid text-center mx-auto" src="../static/image/guitar.png" alt="Guitar" />
      </div>
      <div class="col-md-8">
        <h1 class="home-about-title">MelodyMeet provides a trusted platform for 700,00+ fans fostering a vibrant and safe music community</h1>
      </div>
    </div>
  </div>
</section>

<div class="container my-5">
  {% endblock %}

  {% block content %}
  <div class="container my-5">
    <h1>Welcome to GiveBack Nation</h1>
    <p class="lead">What's on GiveBack Nation</p>

    <div class="row">
      <div class="col-md-3">
        <h3>Categories</h3>
        <div class="list-group" id="list-group">
          <a href="{{ url_for('main.all') }}" class="list-group-item list-group-item-action">All</a>
          <a href="{{ url_for('main.run') }}" class="list-group-item list-group-item-action">Charity Run</a>
          <a href="{{ url_for('main.auction') }}" class="list-group-item list-group-item-action">Charity Auction</a>
          <a href="{{ url_for('main.donation') }}" class="list-group-item list-group-item-action">Charity Food
            Donation</a>
          <a href="{{ url_for('main.other') }}" class="list-group-item list-group-item-action">Others</a>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row" id="eventList">
          {% for event in events %}
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{{ event.event_image }}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ event.event_name }}</h5>
                {% if event.event_status == 'Cancelled' %}
                <span class="badge badge-danger">{{ event.event_status }}</span>
                {% elif event.event_ticket_quantity == 0 %}
                <span class="badge badge-secondary">{{ event.event_status }}</span>
                {% elif event.event_status == 'Inactive' %}
                <span class="badge badge-dark">{{ event.event_status }}</span>
                {% else %}
                <span class="badge badge-success">{{ event.event_status }}</span>
                {% endif %}
                <p class="card-text">{{ event.event_description }}</p>
                <a href="{{ url_for('event.show', event_id=event.id, event_status=event_status) }}"
                  class="btn btn-outline-dark btn btn-light" role="button"
                  style="border-radius: 10px;border-width:3px">View Details</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}