{% extends 'base.html' %}
{% import "bootstrap4/form.html" as wtf %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %} <!-- check if there are any messages -->
<div class="container-fluid">
    <div class="row mt-3 mb-3">
    <div class="col-md-12">
    {% for message in messages %} <!--loop through the messages-->
        <div class="alert alert-info">{{ message }}</div> <!--display as alert-->
    {% endfor %}
    </div>
</div>
</div>
{% endif %}
{% endwith %}

<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ event.event_image }}" class="img-fluid event-image" alt="Event Image" />
      </div>
      <div class="col-md-6">
        <h1 class="mb-3">{{ event.event_name }}</h1>
        <p>{{ event.event_description }}</p>
        <p>Date: {{ event.event_date.strftime('%d %B, %Y') }}</p>
        <p>Time: {{ event.event_time.strftime('%I:%M %p') }}</p>
        <p>Venue: {{ event.event_location }}</p>
        {% if event.event_ticket_quantity == 0.0 %}
        <p> Ticket Quantity: SOLD OUT</p>
        {% else %}
        <p> Ticket Quantity: {{event.event_ticket_quantity}}</p>
        {% endif %}
        {% if event.event_ticket_price == 0.0 %}
        <p> Ticket Price: Free</p>
        {% else %}
        <p> Ticket Price: {{event.event_ticket_price}}</p>
        {% endif %}
        <p> Status: {{ event.event_status }}</p>
        <div class="d-flex flex-column">
            {% if event.user == current_user %}
            <a href="{{ url_for('event.update', event_id=event.id) }}" class="btn btn-outline-dark btn-light btn-update">Update Event</a>
                {% if event.event_status == 'Open' %}
                <form action="{{ url_for('event.cancel', event_id=event.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-outline-dark btn-danger btn-cancel">Cancel Event</button>
                </form>
                {% endif %}
                {% if event.event_status == 'Cancelled' %}
                <form action="{{ url_for('event.open', event_id=event.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-outline-dark btn-cancel">Open Event</button>
                </form>
                {% endif %}
            {% else %}
                {% if event.event_status in ['Inactive', 'Sold Out', 'Cancelled'] %}
                <a href="{{ url_for('event.disablebooking', event_id=event.id) }}" class="btn btn-outline-dark btn-light mr-2" disabled>Book Event</a>
                {% else %}
                <a href="{{ url_for('event.booking', event_id=event.id) }}" class="btn btn-outline-dark btn-light">Book Event</a>
                {% endif %}
            {% endif %}
        </div>
      </div>
    </div>

    <hr>
    <!-- Comments -->
    <div class="row mt-5">
        <div class="col-md-12">
            <section class="content-item" id="comments">
              <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            {{wtf.render_form(commentform,"/events/{0}/comment".format(event.id))}}
                            {% for comment in event.comments %}
                            <div class="col-md-12">
                                <b>{{comment.user.name}} <span class="ml-2 text-muted">{{ comment.comment_date.strftime('%d/%m/%Y') }}</span></b>
                                <p>{{comment.comment}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
