{% extends 'base.html' %}

{% import "bootstrap4/form.html" as wtf %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %} <!-- check if there are any messages -->
<div class="container-fluid">
    <div class="row mt-3 mb-3">
    <div class="col-md-12">
    {% for message in messages %} <!--loop through the messages-->
        <div class="alert alert-info">{{ message }}</div> <!--display as alert-->
    {% endfor %}
    </div>
</div>
</div>
{% endif %}
{% endwith %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            {% if heading|lower == 'create' %}
                <h1>Create Event</h1>
                {{ wtf.render_form(form) }}
            {% elif heading|lower == 'update' %}
                <h1>Update Event</h1>
                {{ wtf.render_form(form) }}
                {% if event.event_image %}
                    <h5>Previous Image:</h5>
                    <img src="{{ event.event_image }}" class="img-fluid" alt="Previous Image">
                {% endif %}
            {% elif heading|lower == 'booking' %}
                <h1>Buy Ticket</h1>
                <p>Ticket Available: {{ event.event_ticket_quantity }}</p>
                <p>Ticket Price: {{ event.event_ticket_price }}</p>
                {{ wtf.render_form(form) }}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
